/* Add your CSS after the HTML code */
root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

main {
  height: 80%;
  width: 100%;
}

#grid-parent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "component right-field" "controls right-field";
  grid-gap: 0px;
}

#component {
  grid-area: component;
  padding-left: 5px;
  height: 90%;
  width: 100%;
}

#controls {
  grid-area: controls;
  height: 100%;
  width: 90%;
  display: flex-column;
  padding-top: 0px;

  justify-content: left;
  padding-left: 10%;
  align-items: center;
}

#controls div {
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: 120px auto 65px;
  height: 25%;
}

#controls label {
  margin-right: 5px;
  text-align: left;
}

#controls input {
  width: 100%;
}

#controls p {
  text-align: right;
}

#controls button {
  width: 90%;
  height: 15%;
  margin-left: 5px;
  margin-top: 5px;
}

#right-field {
  grid-area: right-field;
  height: 100%;
  width: 100%;
  display:grid;
  grid-template-rows: 60px auto 100px;
  justify-content: left;
  align-items: top;
}

#right-field button {
  width: 65px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#right-field #playAgainButton {
  width: 130px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#right-field ul {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#right-field li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#portfolioView {
  background-color: rgba(232, 231, 231, 0.227);
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 5px;
  overflow-y: scroll;
}

#portfolioView p {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

h1, h2, #selectedBox {
  display: inline;
}

#selectedBox {
  margin-top: -65px;
  display: flex;
  justify-content: center;
}

.continue-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.8);
  position: absolute;
  top: 0;
  z-index: 99999;
}

.continue-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.button-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
}

.continue-button {
  height: 50%;
  width: 25%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.green-button {
  background-color: green;
}

.red-button {
  background-color: red;
}

